@model Department

<form  method="post" asp-action="saveadd" asp-controller="Department">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Manager"></label>
        <input asp-for="Manager" class="form-control"/>
        <span class="text-danger" asp-validation-for="Manager"></span>
    </div>
    
    <input type="submit" value="add" class="btn mt-2 btn-success" />
    <a href="/Department/Index"><input  type="button" value="back to list" class="btn mt-2 btn-primary" /></a>
</form>
<br />

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js">
    </script>
}


